.map-wrapper.driver{
    padding:0 0;
    height:calc(100vh - 66px);
    overflow: hidden;
}
.map-wrapper.driver .mapbox-directions-origin{
    display:block;
}

.map-wrapper.driver .mapboxgl-ctrl-geocoder input[type='text'] {
    font-size:14px;
    border:0;
    background-color:transparent;
    color:rgba(0,0,0,.5);
    padding:10px 40px 10px 10px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    font-weight: bold;
    color: #454F63;
    width:100%;
    height: 40px;
}

.map-wrapper.driver .mapbox-directions-route-summary {
    position: relative;
    z-index:1;
    width:100%;
    background-color:rgba(0,0,0,0.75);
    color:#fff;
    padding:5px 10px;
    font-size:15px;
    line-height:28px;
    display:block;
}

.map-wrapper.driver .mapbox-form-label {
    position:absolute;
    font-size: 1.2rem;
    top:0;left:0;
    background:#C2D1D9;
    color:#fff;
    padding:0;
    width:40px;
    height:100%;
    text-align:center;
    line-height:38px;
    border-radius: 0  0 0 0;
}


.map-wrapper.driver .mapboxgl-ctrl-geocoder {
    font:15px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position:relative;
    background-color:white;
    width:calc(100% - 360px);;
    min-width:calc(100% );;
    max-width:calc(100% );;
    margin-left:40px;
    border-radius:0 0 3px 0;
}

.driver-map.hide-direction .mapboxgl-ctrl-top-left{
    display:none;
}

.map-wrapper.driver .mapbox-directions-route-summary + .mapbox-directions-instructions {
    display:none;
}

.map-wrapper.driver .mapbox-directions-instructions{
    display:block;
}

 .mapbox-directions-steps{
    background-color: #424B5A;
}

.map-wrapper.driver .directions-control.directions-control-directions {
    border-radius: 2px 2px 6px 6px;
    display:block;
}

.trip-destination-container{
    background-color:#353A50;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:1.2rem;
    border-radius:12px ;
    padding:2rem;
    line-height: 1.2rem;
    border:1px solid #111;
}

.driver-item-container-list.requesting {
    border-bottom: none;
    justify-content: flex-start;
    border-bottom: none;
}

.driver-item-accept-button{
    border-radius: 12px;
    display:flex;
    flex-flow:column wrap;
    font-size:0.7rem;
    font-weight: 500;
    margin-top:0;
    line-height: 1.4rem;
    outline: none;
    margin-left:1rem;
    background-color:#ADE6EE;
    padding:8px 16px;
    border:none;
}
.driver-name-your-fare__button{
    border-radius: 0 0 16px 16px;
    width: 120px;
    padding: 1rem 1rem;
    background-color: #3ACCE1;
    font-weight: 900;
    font-size:16px;
}

.driver-item-accept-button.requesting div{

}

.trip-destination-left{
    flex-basis: 80%;
    text-align: left;
}

.trip-destination-left > h1{
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-bottom:1rem;
    color:rgba(255,255,255,0.2);
    font-weight: 700;
}

.trip-destination-left > h2{
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom:10px;
    color:#ADE6EE;
    font-weight: 700;
    line-height:1.6rem;
}
.trip-destination-left > span{
    float:left;
    margin-top: 14px;
    margin-right:0.5rem;
}
.tag{
    padding:1px 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.8rem;
    left:0;
    color:white;
}
.tag.blue{
    /*background-color: #ADE6EE;*/
}
.tag.white{
    /*background-color: white;*/
}
.tag.pink{
    /*background-color: pink;*/
}
.tag.orange{
    /*background-color:#ADE6EE;*/
}

.driver-item-price.requesting{
    background-color: white;
}


/* Direction */
.showDirectionBtn{
    float:right;
    font-size:0.9rem;
    padding:4px 10px;
    border-radius: 12px;
    background-color:#424B5A;
    color:white;
    text-align: center;
    outline:none;
}
