
/*
status-panel
*/
.status-panel{
    width:100%;
    text-align: center;
    padding-bottom:24px;
    padding-top:24px;
    position:absolute;
    bottom:54px;
    background-color: white;
    z-index:1000;
}

.status-panel h1{
    font-size:18px;
    color:#505D68;
    margin-bottom:12px;
}

.status-panel p{
    font-size:14px;
    color:#A1AEB7;
    margin:0 40px;
}

.status-panel button{
    width:200px;
    margin-top:17px;
    font-size:1rem;
    padding:12px;
    border-radius: 8px;
    background-color:#424B5A;
    color:white;
}

.status-panel button:disabled{
   background-color:#C2D1D9;
}

