{
  "env": {
    "development": {
      "sourceMaps": "inline",
      "plugins": ["source-map-support"]
    }
  },
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
