.App {
  text-align: center;
  background: white;
}

.leaflet-container {
  height: 420px;
  width: 100%;
  z-index: 0;
}

.map-wrapper{
  position: relative;
}

#map-instructions {
  position: absolute;
  margin: 20px 50px ;
  width: 25%;
  top: 0;
  height: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  /*overflow-y: scroll;*/
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 2em;
  z-index: 100;
  overflow:hidden;

}

#map-instructions input{
  width:100%;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 20px;
}

#map-instructions h1{
  color: #444;
  font-size: 1.2rem;
}

#map-instructions input[type="text"]:first-of-type{
  margin-top: 20px;
}

/*
 DRIVERS
*/
.drivers-container{
  display:flex;
  background-color: white;
  padding:20px;
}

.driver-item-container{
   width: 200px;
   height: 300px;
   background-color: #2E3574;
   box-shadow: 0 2px 16px 0 rgba(0,0,0,0.18) ;
   border-radius:12px;
   margin-right: 20px;
   border:1px solid #2E3574;
}

.driver-item-container:hover{
  transform: scale(1.2)
}


.driver-img-container{
  width:100%;
  height: 200px;
}

.driver-img-container img{
  border-radius:12px 12px 0 0;
  height: 100%;
}

.driver-item-content{
  text-align: left;
  padding:14px;
  color: white;

}

.driver-item-content h1{
  margin: 0;
  padding:0;
}

/* Driver Profile
 */
.driver-profile-container{
  text-align: center;
  width:100%;
  background-image: linear-gradient(to right, rgba(255,255,255,1), #F7F7FA);
  line-height:1rem;
  padding:1rem;
}

.driver-profile-img-container img.round{
  width: 128px;
  height: 124px;
  border-radius:16px;
 }

 .driver-profile-main{
    color:white;
    background-color: #353A50;
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 16px;
    position: relative;
    margin-bottom:1rem;
 }

.driver-profile-main textArea {
    width:100%;
    resize: none;
    overflow: visible;
    background-color: rgba(187, 188, 205, 0.3);
    color: white;
    outline:none;
    border:none;
    padding:1rem;
    margin: 0;
    font-size: 0.8rem;
    font-weight:500;
    text-align: left;
    line-height: 1.3rem;
}

.driver-profile-main header{
   align-items: center;
   display:flex;
   text-align: left;
}

.driver-profile-container > header > h1{
   padding-top:1rem;
   font-size: 1.4rem;
   color:#454F63;
}
.driver-profile-container > header > h3{
   padding-top:0.5rem;
   color:#78849E;
}

.driver-profile-main .title{
   margin: 20px;
}

.driver-profile-main p{
  text-align: left;
  font-size: 1rem;
  line-height:1.5rem;
  padding: 0.6rem 2px 1.2rem 2px;
  /*padding:2px 0;*/
}

.driver-profile-img-avatar{
  width:40px;
  height:40px;
 }

.driver-profile-img-avatar img{
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius:50%;
}

.fav-button-bar {
  display: flex;
  width: 100%;
  height: 40px;
  border-top: 1px solid rgba(100,100,100, 0.4);
  position: relative;
  padding-top:0.8rem;
}

.fav-button-bar a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

.fav-button-bar strong{
  margin-right: 6px;
  font-size: 0.7rem;
}

.fav-button-bar .fav{
  position: absolute;
  right: 0;
}

.fav-button-bar .chat{
  position: absolute;
  right: 70px;
}

.fav-button-bar .share{
  position: absolute;
  left: 0;
}

/*
*  Stats Container
 */
 .stats-container{
    display:flex;
    height: 88px;
    border-radius: 20px;
    padding: 20px;
    background-color:white;
    box-shadow: 0 2px 6px 0 rgba(0,0,0, 0.1);
    margin: 1rem 0;
 }
.stats-container div{
  width:33%;
  padding: 10px 20px;
  border-right: 1px solid #eee;
  font-size: 0.8rem;
}
.stats-container div:last-of-type{
  border-right: none
}
.stats-container h2{
  color:#454F63;
}
.stats-container p{
  color:#78849E;
  font-size: 0.4rem;
}

/**
  Cars Container
 */
 .cars-container{
   text-align: left;
   width: 100%;
 }
.cars-container h3{
  margin: 1.2rem;
  color:#78849E;
}
.car-img-container{
  width: 100%;
  height: 100px;
}
.car-img-container img{
  max-width: 100%;
  border-radius: 12px;
}


/**
Edit Button
 */
 .edit-btn-container{
   position: absolute;
   top: 20px;
   right: 20px;
   color: #bbb;
   transition: all 0.6s ease;
 }

.edit-btn-container:hover{
  color: white;
  transform: scale(1.2);
}


/**
Review Container
 */

 .review-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #454F63;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 14px;
    line-height:1.2rem;
 }

.review-container > h2{
  font-size: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.star-container{
  position: absolute;
  right: 20px;
  top: 14px;
  justify-self : flex-start ;
}

.review-container p{
   margin-top: 2px;
   padding:0 2px;
   text-align: left;
   font-size: 1rem;
}


