.map-wrapper{
    position: relative;
    display:flex;
    flex-flow:column;
    height:100vh;
    align-items: center;
    padding:5px 0 0 0;
    /*background-color: blue;*/
    /*padding:20px;*/
}

.map-container{
    position: relative;
    z-index: 1;
    width: 100%;
    margin-top: -10px;
    /*outline:2px solid red;*/
}

.map-instructions {
    display:flex;
    z-index: 2;
    width: 100%;
    position: relative;
    border-radius: 16px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    font-family: sans-serif;
    line-height: 2em;
    color:#959DAD;
    font-size: 0.8rem;
    margin:-10px auto 20px auto;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.18) ;
    opacity: 1;
}

.map-instructions *{
    width: 100%;
    margin-bottom: 0.4rem;
}

.map-instructions form > button{
    margin-top: 1rem;
}

.map-instructions input{
    font-size: 1rem;
    font-weight: bold;
    color: #454F63;
    width:100%;
    height: 40px;
    padding: 6px;
    outline:none;
}

.map-instructions h1{
    color: #444;
    font-size: 1.2rem;
}

.map-instructions h3{
    font-size: 0.8rem;
}

/*  DRIVER CONTAINER -- LIST */
.drivers-nearby-header{
    padding:24px 0 0 0;
}

.drivers-nearby-header.show-bg{
    background-color:#c2d1d9b3;
    padding:10px;
}

.drivers-nearby-container-list{

}
.driver-item-container-list{
    display:flex;
    /*background-color: #0d47a1;*/
    padding:14px 20px;
    border-bottom: 1px solid #c2d1d9b3;
    position:relative;
    justify-content: space-between;
    align-items: center;
}
.driver-item-container-list:first-child{
    display:flex;
    margin-top:10px;
}

.driver-item-container-list:last-child{
    border-bottom: none;
}

.driver-img-container-list{
    width: 40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:20px;
}
.driver-img-container-list img{
    border-radius: 50%;
}

.driver-item-content-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:#A1AEB7;
    padding-left:20px;
    font-size: 0.7rem;
}

.driver-item-content-list h2{
    font-size: 1.1rem;
    color:#505D68;
    padding-bottom: 4px;
}

/* Button bar  */
.driver-item-buttons-list{
    display:flex;
    /*width:120px;*/
    right:100px;
    justify-self: flex-end;
    padding-right:20px;
}

.driver-item-price{
    display:flex;
    align-items: center;
    font-size:1rem;
    font-weight: 500;
    background-color: #c2d1d936;
    border-radius: 15px;
    height:30px;
    margin-right: 5px;
    padding: 2px 12px;
}

.driver-item-buttons-list .driver-item-accept-button{
    align-items: center;
    border:none;
    border-radius: 10px;
    margin-top: 0;
    padding: 2px 12px;
    font-size: 0.8rem;
    font-weight: 500;
    height:30px;
    width:90px;
}
.driver-item-buttons-list .driver-item-accept-button:hover{
   color:black;
}

.driver-item-buttons-list .driver-item-icon-button{
    width: 45px;
    height: 45px;
    margin-top:0;
    border-radius: 50%;
    margin-right:10px;
}

.action-icon-button-bar{

}


.driver-item-container-list .right-arrow-button{
    margin:0;
    width:40px;
    background-color: white;
    color:black;
}

.request-ride-button{
    outline:none;
}

.request-ride-button.bordered{
    background-color: white;
    border:1px solid lightgray;
    color:gray;
}


/*  DRIVER CONTAINER  */
.drivers-nearby-container{
    display:flex;
    justify-content: center;
    position:absolute;
    bottom:200px;
    z-index: 10;
    padding: 10px;
    width:100%;
    overflow:hidden;

}

.driver-item-container{
    min-width:150px;
    width: 150px;
    height: 170px;
    background-color: #2E3574;
    border-radius:10px;
    margin-right:8px;
    box-shadow:
            0 4px 7px 0px rgba(0,0,0, 0.2), 0 4px 7px 0px rgba(0,0,0, 0.4)
}

.driver-item-container h2{
    margin-bottom: 4px;
}

.driver-item-container:hover{
    transform: scale(1.2)
}

.driver-img-container{
    width:100%;
    overflow:hidden;
    border-radius: 0 0 12px 12px;
}

.driver-img-container img{
    border-radius: 0 0 12px 12px;

}

.driver-item-content{
    text-align: left;
    padding:8px 10px;
    color: white;
    padding-bottom: 8px;
}

.driver-item-content h1{
    margin: 0;
    padding:0;
}

/* At the top level of your code */
@media screen and (min-width: 600px) {
    .map-wrapper{
        /*background-color: red;*/
    }

    .map-instructions {
        position: absolute;
        margin: 20px 50px ;
        width: 25%;
        min-width:300px;
        text-align: left;
        border-radius:4px;
        /*z-index: 1000;*/
        overflow:hidden;
        align-self: flex-start;
    }

    .map-instructions-location h1{
        margin-bottom: 1rem;
        line-height:1.6rem;
    }

    .drivers-nearby-container{
        bottom:120px;
    }
}

@media screen and (min-width: 960px) {
    .map-wrapper{
        /*align-items: center;*/
        /*background-color: green;*/
    }
}


@media screen and (min-width: 1280px) {
    .map-wrapper{
        /*align-items: center;*/
        /*background-color: purple;*/
    }
}
