.map-wrapper{
    position: relative;
    display:flex;
    flex-flow:column;
    height: calc(100vh - 100px);
    align-items: center;
}

.map-container{
    position: relative;
    z-index: 1;
    width: 100%;
}
.driver-item-container-list{
    display:flex;
    margin:1.2rem;
    padding:1.2rem 20px;
    position:relative;
    justify-content: space-between;
    align-items: center;
    background-color:#353A50;
    border:1px solid #111111;
    border-radius: 12px;
}
.driver-item-container-list:first-child{
    display:flex;
    margin-top:10px;
}

.driver-item-container-list:last-child{
    border-bottom: none;
}

.driver-img-container-list{
    width: 40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:20px;

}
.driver-img-container-list img{
    border-radius: 16px;
}

.driver-item-content-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:#A1AEB7;
    padding-left:20px;
    font-size: 0.7rem;
    margin-left:20px;

}

.driver-item-content-list h2{
    font-size: 1.2rem;
    color:#ADE6EE;;
    margin-bottom: 1rem;
}


.driver-item-content-list h3{
    font-size: 1rem;
    margin-bottom: 1rem;
}


/* Button bar  */
.driver-item-buttons-list{
    display:flex;
    right:100px;
    justify-self: flex-end;
    padding-right:20px;
}

.driver-item-price{
    display:flex;
    align-items: center;
    font-size:1rem;
    font-weight: 500;
    background-color: #c2d1d936;
    border-radius: 15px;
    height:30px;
    margin-right: 5px;
    padding: 2px 12px;
}

.driver-name-your-fare-container .driver-item-accept-button{
    border:none;
    background-color: #3ACCE1;
    width:100%;
    text-align: center;

}

.driver-name-your-fare-container input{
    border-radius: 16px 16px 0 0 ;
    padding: 1rem 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: white;
    border:1px solid #505D68;
    box-shadow: inset 0 0 15px 20px #eff;
    outline:none;
    width:120px;
    text-align: center;
}

.driver-item-buttons-list .driver-item-accept-button:hover{
   color:black;
}

.driver-item-buttons-list .driver-item-icon-button{
    width: 70px;
    height: 70px;
    margin-top:0;
    border-radius: 50%;
    margin-right:2rem;
    background-color:#2A2E43;
    border:1px solid #111111;
}

.driver-item-buttons-list .driver-item-icon-button:hover{
    background-color:#3ACCE1;
}

.driver-item-container-list .right-arrow-button{
    margin:0;
    width:40px;
    background-color: white;
    color:black;
}

.driver-item-container-list .right-arrow-button:hover{
    background-color:#3ACCE1;
}

.action-icon-button-bar.right .driver-item-icon-button{
    background-color:#2A2E43;
    border:1px solid gray;
    border-radius: 10px;
    margin-left:12px;
}

.action-icon-button-bar.right{
    position:absolute;
    right:2rem;
    top:2rem;
}

.request-ride-button{
    outline:none;
    color:white;
    width: 327px;
    height: 52px;
    border-radius: 12px;
    background: #444f63;
    border:none;
    font-size: 15px;
    font-weight:700;
}

/*  DRIVER CONTAINER  */
.drivers-nearby-container{
    display:flex;
    justify-content: center;
    position:absolute;
    bottom:200px;
    z-index: 10;
    padding: 10px;
    width:100%;
    overflow:hidden;
}

.driver-item-container{
    min-width:150px;
    width: 150px;
    height: 170px;
    background-color: #2E3574;
    border-radius:10px;
    margin-right:8px;
    box-shadow:
            0 4px 7px 0px rgba(0,0,0, 0.2), 0 4px 7px 0px rgba(0,0,0, 0.4)
}

.driver-item-container h2{
    margin-bottom: 4px;
}

.driver-item-container:hover{
    transform: scale(1.2)
}

.driver-img-container{
    width:100%;
    overflow:hidden;
    border-radius: 0 0 12px 12px;
}

.driver-img-container img{
    border-radius: 0 0 12px 12px;

}

.driver-item-content{
    text-align: left;
    padding:8px 10px;
    color: white;
    padding-bottom: 8px;
}

.driver-item-content h1{
    margin: 0;
    padding:0;
}


/* At the top level of your code */
@media screen and (min-width: 600px) {
    .map-wrapper{
        /*background-color: red;*/
    }

    .map-instructions {
        position: absolute;
        margin: 20px 50px ;
        width: 25%;
        min-width:300px;
        text-align: left;
        border-radius:4px;
        /*z-index: 1000;*/
        overflow:hidden;
        align-self: flex-start;
    }

    .map-instructions-location h1{
        margin-bottom: 1rem;
        line-height:1.6rem;
    }

    .drivers-nearby-container{
        bottom:120px;
    }
}

@media screen and (min-width: 960px) {
    .map-wrapper{
        /*align-items: center;*/
        /*background-color: green;*/
    }
}


@media screen and (min-width: 1280px) {
    .map-wrapper{
        /*align-items: center;*/
        /*background-color: purple;*/
    }
}
